<footer class="bg-green-100 mt-auto text-gray-600 text-sm">
  <div class="flex flex-col md:flex-row items-center justify-between p-6 w-full gap-y-3 md:gap-y-0">
    <div class="text-center md:text-left">
      Fugu is 100% self-funded, independent and hosted in the EU.
      By <a href="https://twitter.com/canolcer" target="_blank">@canolcer</a>.
    </div>
    <div class="flex flex-row items-center justify-center">
      <a href="https://docs.fugu.lol" class="no-underline font-normal mx-2">Docs</a>
      <a href="https://github.com/shafy/fugu" class="no-underline font-normal mx-2">GitHub</a>
      <a href="/legal/terms" class="no-underline font-normal mx-2">Terms</a>
      <a href="/legal/privacy" class="no-underline font-normal mx-2">Privacy</a>
      <a href="/legal/dpa" class="no-underline font-normal mx-2">DPA</a>
      <a href="/legal/imprint" class="no-underline font-normal mx-2">Imprint</a>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-between p-6 pt-0 w-full gap-y-3 md:gap-y-0">
    <div class="text-center md:text-left">
     <a href="/why-fugu-doesnt-track-unique-users" class="font-normal">Fugu doesn't track unique users. Learn why.</a>
    </div>
  </div>
</footer>