<footer>
  <div>
    <div>
      Made by Can Olcer (<a href="https://canolcer" target="_blank">Blog</a>, <a href="https://mstdn.social/@can" target="_blank">Mastodon</a>, <a href="https://bsky.app/profile/canolcer.com" target="_blank">Bluesky</a>).
    </div>
    <div class="footer-links">
      <a href="https://docs.fugu.lol">Docs</a>
      <a href="https://github.com/shafy/fugu">GitHub</a>
      <a href="/legal/terms">Terms</a>
      <a href="/legal/privacy">Privacy</a>
      <a href="/legal/dpa">DPA</a>
      <a href="/legal/imprint">Imprint</a>
    </div>
  </div>
  <div>
    <a href="/why-fugu-doesnt-track-unique-users" class="font-normal">Fugu doesn't track unique users. Learn why.</a>
  </div>
</footer>