{{ define "main" }}

  <div class="container main-container">
    <h1>
      Product analytics: free, simple and privacy-friendly
    </h1>
    <p class="headline">
      Fugu is free and simple to self-host. It helps you to better understand how users use your product,
      without invading their privacy.
    </p>
    <p>
      Play around with the embedded project below 👇. It shows how an app like Basecamp could use Fugu.
    </p>
  </div>
  <div class="iframe-container">
    <iframe
      src="https://app.fugu.lol/hqvc/projects/basecamp-demo/events/viewed-project?agg=w&date=30d&prop=platform&embed=true"
      title="Fugu"
      loading="lazy"
      referrerpolicy="no-referrer"
      width="100%"
      height="100%"
      frameBorder="0"
    >
    </iframe> 
  </div>
  <div class="container">
    <h2>
      Tell me more!
    </h2>
    <p>
      I've built Fugu because I was missing a simple product analytics tool that's affordable
      and has privacy baked in. Fugu is
      <a href="https://github.com/shafy/fugu" target="_blank">open-source</a> and you can host it yourself very simply.
    </p>
    <p>
      The focus on privacy-friendliness and simplicity translates to a few things:
      First, Fugu doesn't track unique users and personally identifiable information such as IP addresses (<a href="/why-fugu-doesnt-track-unique-users">read more about this</a>).
      Second, Fugu is made for people who don't need fancy product analytics tools but prefer
      a set of easy-to-use features over a complex user experience.
    </p>
    <h2 id="self-hosting">
      Getting started
    </h2>
    <p>
     Fugu is a simple Ruby on Rails app and includes configuration for Docker and Docker Compose to simplify self-hosting.
     You can run it wherever you want, from Heroku over Hetzner to your own bare metal machine.
     Read the <a href="https://github.com/shafy/fugu/blob/main/SELFHOSTING.md">Self-Hosting Guide</a> for detailed instructions on how to get running with few steps.
    </p>
    <h2>
      How much does it cost?
    </h2>
    <p>
      Fugu is free and open-source. It's licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL v3</a>.
    </p>
    <h2>
      How does it work?
    </h2>
    <p>
      Fugu has an event-based tracking system. Every time you want to track an event,
      you call the Fugu API from your app. In your request, you need to provide an event name
      and can optionally provide event properties.
      Your request body could look like this:
    </p>
    <pre><code>{
  "api_key": "very_secret",
  "name": "Fun event",
  "properties": {
    "color": "Blue",
    "type": "Oak"
  }
}</code></pre>
    <p>
      Once you've started tracking events, you can log in to your Fugu account and
      analyze your data. Read more about event tracking in the <a href="https://docs.fugu.lol/getting-started/tracking-an-event">docs</a>.
    </p>
    <h2>
      Features
    </h2>
    <p>
      Fugu focuses on simplicity and therefore provides a small set of features. We believe that
      these are enough for most use cases. Check out our <a href="https://github.com/shafy/fugu/discussions/53">roadmap</a> to see what's coming.
    </p>
    <h3>Event tracking</h3>
    <img src="/images/fugu_screenshot_events.png">
    <p>
      This is the fundament of Fugu. All you need to do is send Fugu your events.
    </p>
    <h3 class="text-left">Property value breakdown</h3>
    <img src="/images/fugu_screenshot_properties.png">
    <p>
      Events have optional properties that consist of keys and values that you can
      set almost arbitrarily. In Fugu, you can break down each property by its different values
      to better understand what's going on. For example, you might track a "platform" property
      for your "Clicked Payment Button" event. The "platform" property could have different values, such as "android"
      "ios", and "web". By breaking down your event by this property value, you will better
      understand where your payment button clicks are coming from.
    </p>
    <h3>Time aggregation</h3>
    <img src="/images/fugu_screenshot_agg.png">
    <p>
      You can choose to display your events aggregated by day, week, month or year.
      This helps you to zoom in and out of your data to better grasp micro and macro trends.
    </p>
    <h2>
      Product analytics vs. web analytics?
    </h2>
    <p>
      Analytics can be confusing. We can differentiate between two kinds of analytics software:
      Product analytics and web analytics. Product analytics software like Fugu (or Mixpanel, Amplitude) is useful to
      better understand user behavior once your users start using your web or mobile app. Web analytics software
      (such as Plausible) is useful to understand user behavior on a website like this, a blog or ecommerce shop.
      Product analytics tracks events along with properties, based on which you can then break down data to
      analyze user behavior. Web analytics tracks page views with referrers, wich help you understand from
      which sources your visitors came and what pages they looked at.
    </p>
    <p>
      This is a very simplified view of the differences. In reality, there is some overlap between the use cases
      of product and web analytics and sometimes they are used interchangeable (which I wouldn't recommend).
    </p>
    <h2>
      Why should I NOT use Fugu?
    </h2>
    <p>
      Fugu's focus on simplicity allows me to deliver a solid product with a reasonable time investment.
      However, this also means that we focus only on a small set of analytics features.
      I think these features cover most needs of indie hackers or smaller teams.
      You shouldn't use Fugu if you want features such as more complex reports, saving dashboards,
      integrations with other tools or enterprise features like SSO and access control.
    </p>
  </div>

{{ end }}